<div class="btn-group">
    <button class="btn"(click)="updateChart()">test call</button>
    <button class="btn">*Add*</button>
    <input clr-input [(ngModel)]="search[0]" placeholder="Search"/>
    <input clr-input [(ngModel)]="search[1]" placeholder="Search" />
    <input clr-input [(ngModel)]="search[2]" placeholder="Search" />
</div>
<div style="display: block;">
  <canvas baseChart width="400" height="400"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)">
  </canvas>
</div>
