<div class="btn-group">
    <button class="btn"(click)="getStockData()">Search</button>
    <input clr-input [(ngModel)]="search[0]" placeholder="Search"/>
    <input clr-input [(ngModel)]="search[1]" placeholder="Search" />
</div>
<div class='chart' *ngIf='tickerClicked' style="display: block;">
  <canvas baseChart width="500" height="500"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [chartType]="lineChartType">
  </canvas>
</div>
