.logout{
    margin:0;
}
.wrapLogout{
    width: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav-btn {
    margin:0;
    padding:0;
    height: 100%;
    outline:none;
}