<div class="row">
  <div class="col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <form class="search">
            <label for="search_input">
              <input id="search_input" type="text" placeholder="Search a Ticker...">
            </label>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          Block
        </div>
        <div class="card-text">
          blah
        </div>
      </div>
    </div>
  </div>
</div>
