<div class="row">
  <div class="col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-block">
        <div class="card-title searchbar">
          <button (click)='search()' class="btn btn-icon">
            <clr-icon shape="search"></clr-icon>
          </button>
          <label for="search_input">
            <input [(ngModel)]="_api.search" id="search_input" type="text" placeholder="Search a Ticker...">
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          Favorite Stocks
        </div>
        <div class="card-text">

          <div *ngFor="let fav of favorites">{{fav}}</div>

        </div>
      </div>
    </div>
  </div>
</div>